
<header>

<h1><%= link_to 'memo', '/', {class: "legros"} %></h1>

<div class="add">
<%= form_with model: @memo, local: true do |form| %>
  <%= form.text_field :content, {placeholder: "write a memo", class: "writing"} %>
  <%= form.number_field :rate, {placeholder: "rating 0 ~ 5", class: "writing"} %>
  <%= form.submit 'submit', {class: "menu submit"} %>
<% end %>
</div>

</header>

<div class="content">
<% @memos.each do |memo| %>
  <%= render partial: "memobox", locals: { memo: memo } %>
<% end %>